<%- include('partials/header'); -%>

    <header>
        <div class="smoothie">
            <img src="/pic1.svg" alt="" id="homeimage" />
        </div>
        <div class="headings">
            <h2>Start Writing</h2>
            <h3>By Creative For Creators</h3>
            <a href="/smoothies" class="btn">View Blog</a>
            <a href="/addnewblog" class="btn">Add New Blog</a>
        </div>
    </header>

    <%- include('partials/footer'); -%>